<!DOCTYPE html>
<html  ng-app="" ng-init="corDeFundo='red'">
<head>
  <title>MUNDANDO COR DE FUNDO</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body style="background-color:{{corDeFundo}}">

<input type="color" name="" ng-model="corDeFundo">

</body>
</html>