<!DOCTYPE html>
<html>
<head>
	<title>projeto web</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
</head>
<body class="bg-primary" ng-app="myApp" ng-controller="myCtrl" ng-init="listaUsuario=[]">

	<div class="container">
	  	<div class="row justify-content-md-center ">
		    <div class="col-10 bg-light rounded-sm" style="margin-top:20px">
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Nome</th>
				      <th scope="col">Usuário gitlab</th>
				      <th scope="col"> <center>Operação</center> </th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="usuario in listaUsuario">
				      <td>{{usuario.nome}}</td>
				      <td><a href="https://gitlab.com/{{usuario.usuarioGit}}" target="_blank">{{usuario.usuarioGit}}</a></td>
				      <td> 
				      	<center>
					      	<button type="submit" class="btn btn-info mb-2 mr-3 col-3" ng-click="formAlterarUsuario(usuario.id)"> 
					      		<i class="fas fa-user-edit fa-sm"></i>
					      	</button>
					      	<button type="submit" class="btn btn-danger mb-2 col-3 " ng-click="deletarUsuario(usuario.id)"> 
					      		<i class="fas fa-trash-alt fa-sm"></i> 
					      	</button>
				      	</center>
				      </td>
				    </tr>
				  </tbody>
				  <tfooter>
				    <tr>
				      <td> <input type="text" class="form-control mb-2" placeholder="Informe o usuário" ng-model="usuario"> </td>
				      <td>
			      	      <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text">@</div>
					        </div>
					        <input type="text" class="form-control" placeholder="Nick name do gitLab"  ng-model="usuarioGit">
					      </div>
				      </td>
				      <td> 
				      	<center>
				      		<button ng-if="showConfAdicionar" type="button" ng-click="adicionarUsuario()" class="btn btn-primary mb-2"> <i class="fas fa-user-plus"></i> Adicionar</button> 
				      		<button ng-if="!showConfAdicionar" type="button" ng-click="alterarDadosUsuario()" class="btn btn-primary mb-2"> <i class="fas fa-user-edit"></i> Alterar</button> 
				      	</center>
				      </td>
				    </tr>				  
				  </tfooter>
				</table>
		    </div>
		</div>

		<!-- INICIO MODAL -->
		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Alerta!</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      </div>
		      <div class="modal-footer">
		      </div>
		    </div>
		  </div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript">

		var app = angular.module("myApp", []);
		app.controller("myCtrl", function($scope, $http) {
			$scope.usuario = '';
			$scope.usuarioGit = '';
			$scope.id = 0;
			$scope.showConfAdicionar = true;
			$scope.indexUsuarioAlterar = null;
			$scope.urlServer = 'http://localhost:8080/servidor/public/'
			$scope.urlUsuarioServer = 'http://localhost:8080/servidor/public/usuario'

			// LISTA OS USUÁRIOS DA API
			$http.get($scope.urlUsuarioServer).then(function(response) {
				if(response.status == 200){
					$scope.listaUsuario = response.data.data;
					$scope.id = response.data.data.length;
				}
			});

			$scope.adicionarUsuario = () => {
				if($scope.usuario == '' || $scope.usuarioGit == ''){
					$('.modal-body').html('Voce precisa preencher todos os campos');
					$('#modal').modal('show');
					return false;
				}
				let usuario = {id: $scope.id++, nome: $scope.usuario, usuarioGit: $scope.usuarioGit };
				// SALVAR ESSE USUÁRIO NA API
				$http(
				{
					method: 'POST', 
					url: $scope.urlUsuarioServer,
					data: usuario
				}).then(function(response) {
					if(response.status == 200){
						$scope.listaUsuario.push(usuario);
						$scope.usuario = '';
						$scope.usuarioGit = '';
					}
				},	function(response) {
					alert(response);
				});
			};

			$scope.deletarUsuario = (id) => {
				var confirmou = confirm("Tem certeza que deseja deletar esse usuário?");
				if(confirmou){
					var indexUsuario = $scope.listaUsuario.findIndex((usuario) => { return usuario.id == id });

					// DELETAR ESSE USUÁRIO NA API
					var urlTemp = $scope.urlUsuarioServer;
					$http(
					{
						method: 'DELETE', 
						url: $scope.urlUsuarioServer+'/'+$scope.listaUsuario[indexUsuario].id,
						data: {id: $scope.listaUsuario[indexUsuario].id}
					}).then(function(response) {
						if(response.status == 200){
							$scope.listaUsuario.splice(indexUsuario, 1);
						}
					},	function(response) {
						alert(response);
					});

				}
			};

			$scope.formAlterarUsuario = (id) => {
				var indexUsuario = $scope.listaUsuario.findIndex((usuario) => { return usuario.id == id });
				var usuario = $scope.listaUsuario[indexUsuario];
				$scope.showConfAdicionar = false;
				$scope.usuario = usuario.nome;
				$scope.usuarioGit = usuario.usuarioGit;
				$scope.indexUsuarioAlterar = indexUsuario;
			};

			$scope.alterarDadosUsuario = () => {
				// ALTERANDO ISSO NO BANCO
				let usuario = {id: $scope.listaUsuario[$scope.indexUsuarioAlterar].id, nome: $scope.usuario, usuarioGit: $scope.usuarioGit };
				$http(
				{
					method: 'PUT', 
					url: $scope.urlUsuarioServer,
					data: usuario
				}).then(function(response) {
					if(response.status == 200){
						$scope.listaUsuario[$scope.indexUsuarioAlterar].nome = $scope.usuario;
						$scope.listaUsuario[$scope.indexUsuarioAlterar].usuarioGit = $scope.usuarioGit;
						$scope.usuario = '';
						$scope.usuarioGit = '';
						$scope.showConfAdicionar = true;
					}
				},	function(response) {
					alert(response);
				});
			}

		});	

	</script>
</body>
</html>