.fonte-assinatura{
 font-size: 18px;
 font-weight: bold; 
}
#modal_alterar_plano {
    /* new custom width */
    width: 900px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -420px;
}
#modal_lista_pagamentos {
    /* new custom width */
    width: 900px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -420px;
}

/* .pagar_plano{margin-bottom: 1.5em} */
.pagar_plano span{color: #8A8A8A; position: relative; bottom: -1px; font-size: 1.6em; padding: 0.8em 1.3em; display: inline-block; border:1px solid transparent; cursor: pointer;}
.pagar_plano span:hover, span.pgto-ativo{color: #656565; background: #fff; border-radius: 3px 3px 0 0; border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:1px solid #ccc;}

.pagar_plano span.pgto-boleto i{color: #000}
.bandeira input{margin-top: 10px; float: left; margin-left: 2px;}
.bandeira label{text-indent: -999px; margin:0; height: 3em;}
.bandeira div{width: 70px; height: 3em; margin-right: 30px; float: left; background: url(../../img/bandeiras-cartoes.png) 0 0 no-repeat; overflow: hidden;}
.bandeira div.visa{background-position: 20px;}
.bandeira div.credcard{background-position: -50px;}
.bandeira div.hiper{background-position: -120px;}
.bandeira div.elo{background-position: -190px;}
.bandeira div.dinners{background-position: -260px;}
.bandeira div.amex{background-position: -330px;}

.passo-extrato tr.header_plano td{padding: 1em; background: #7B7B7B; color: #fff;}
#cartoes label{text-transform: initial;}
#cartoes h6{margin-bottom: 1.5em; text-transform: initial; font-size: 1.3em;}
#cartoes td{padding: 2em 1em;}
#cartoes tr.header_plano td{padding: 1em;}
#cartoes input[type="text"]{width: 100%; margin: 4px 2px 0;}
#cartoes input#validade_cartao, #cartoes input#cod_seg_cartao{width: 6em}
input#concordo{float: left; margin-right: 0.3em}
.modal-body{max-height:none }
:focus {
    outline:none;
}