<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
<table align="center" cellpadding="0" cellspacing="0" style="background: #f0f0f0;" width="100%">
    <tbody>
    <tr>
        <td align="center">
            <a href="%user_site%">
                <img src="%user_logo%" alt="%user_nome%" style="padding: 20px;" class="fr-fic fr-dii" />
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="font-family: 'arial', sans-serif;" width="700px">
                <tbody>
                <tr>
                    <td bgcolor="#FFFFFF">
                        <table align="center" bgcolor="%header_background%" border="0" cellpadding="20" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td>
                                    <span style="display:block; color: %header_color%; font-weight: 600; font-size:20px;">%titulo%</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table bgcolor="#fff" border="0" cellpadding="0" cellspacing="15" style="border-bottom:1px solid #f2f2f2;" width="100%">
                            <tbody>
                            %main_content%

                            <tr>
                                <td>
                                    <p style="display:block; color: #354147; font-weight: 100;font-size:16px;padding: 10px">
                                        Atenciosamente,<br />
                                        Equipe %user_nome%

                                    </p>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" style="font-family: helvetica, Verdana, Tahoma; font-size:14px; color:#fff; font-weight:100;" width="600px">
                <tbody>
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="20" width="100px">
                            <tbody>
                            <tr>
                                <td>
                                    <a href="%user_facebook%" style="display:block; float:left; margin: 0 10px;padding:15px">
                                        <img src="%facebook_logo%" alt="facebook" class="fr-fic fr-dii" />
                                    </a>
                                </td>
                                <td>
                                    <a href="%user_instagram%" style="display:block; float:left; margin: 0 10px;padding:15px">
                                        <img src="%instagram_logo%" alt="instagram" class="fr-fic fr-dii" />
                                    </a>
                                </td>
                                <td>
                                    <a href="%user_youtube%" style="display:block; float:left; margin: 0 10px;padding:15px">
                                        <img src="%youtube_logo%" alt="youtube" class="fr-fic fr-dii" />
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr align="center">
                    <td style="padding:20px; width:110px;">
                        <a href="%user_site%">
                            <img src="%user_logo_assinatura%" border="0" class="fr-fil fr-dib" />
                        </a>
                    </td>
                </tr>
                <tr align="center">
                    <td style="padding:0px 10px 30px 10px;">
                <span style="color:#9b9b9b; font-size:12px; line-height:25px;">© 2019 %user_nome%.
                </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>