
<tr>
    <td>
        <p>Olá %cliente%.</p>
        <p>Com o objetivo de evitar interrupções no serviço, lembramos a você que %info%.</p>
        <p>Clique no link abaixo para gerar uma nova cobrança: <br> %metodo-pagamento%</p>
    </td>
</tr>
<tr>
    <td colspan="2">
        <table  width="100%" class="bor" style="margin-top: 15px;">
            <tr>
                <td width="20%"><strong>Status</strong></td>
                <td colspan="2">%status%</td>
            </tr>
            <tr>
                <td width="20%"><strong>Código</strong></td>
                <td colspan="2">%codigo-pedido%</td>
            </tr>
            <tr>
                <td width="20%"><strong>Método de Pagamento</strong></td>
                <td colspan="2">%metodo-pagamento%</td>
            </tr>
            <tr>
                <td width="20%"><strong>Data de Vencimento</strong></td>
                <td colspan="2">%data-vencimento%</td>
            </tr>
            <tr>
                <td width="20%"><strong>Visualizar Boleto</strong></td>
                <td colspan="2">%data-vencimento%</td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td colspan="2">
        <table width="100%" class="infoitens" style="text-align:center; margin-top: 10px;">
            <tr bgcolor="#f2f2f2">
                <th style="padding: 10px 0;">DESCRIÇÃO</th>
                <th>QUANTIDADE</th>
                <th>VALOR (R$)</th>
                <th>TOTAL (R$)</th>
            </tr>
            <tr>
                <td style="padding: 10px 0;">%item_descricao%</td>
                <td>1</td>
                <td>%valor_total%</td>
                <td>%valor_total%</td>
            </tr>
            <tr bgcolor="#DEDEDE">
                <td colspan="4" style="text-align:right; padding: 10px;"><strong>Total geral: R$ %valor_total%</strong></td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td colspan="2">
        <table>
            <tr>
                <td>
                    <p>Para acompanhar as suas transações ou alterar os dados da sua conta, acesse a área "Meu Plano" do sistema.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Este e-mail é enviado automaticamente pelo sistema. Caso já tenha realizado o pagamento, por favor, ignore esta mensagem.</p>
                </td>
            </tr>
        </table>
    </td>
</tr>